@import './assets/variables';
@import './assets/mixins';

body {
    padding: 0;
    margin: 0;
}

.animation-delay {
    span {
        display: block;
        background-color: $c1;
        text-align: center;
        font-size: $font;
        font-family: sans-serif;
        @include prefixProp(filter, grayscale(.7));
        @include prefix(animation, fade 1000ms infinite);

        &:nth-of-type(odd) {
            background-color: $c2;
        }

        &.active {
            background-color: $c3;
        }

        // @for $i from 1 through 50 {
        //     &:nth-of-type(#{$i}) {
        //         @include prefix(animation-delay, 100ms);
        //     }
        // }

        @for $i from 1 through 50 {
            &:nth-of-type(#{$i}) {
                animation-delay: #{$i*75}ms;
            }
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}